*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --app-color-white: white;
  --app-theme-color: rgb(0, 161, 235);
  --app-theme-color-hover: rgb(45, 65, 103);
  --app-color-grey: rgb(247, 247, 247);
  --app-dark-font-color: black;
  --app-light-font-color: rgb(117, 113, 113);
}

body {
  margin: 0;
  background-color: var(--app-color-white);
}

header {
  font-family: Arial Black;
}
